/* ---------------------------------------- */

.linkBlock {
    display: flex;
    justify-content: center;
}

.linkDescription {
    padding: 60px 0px 30px 0px;
}

.linkDescription .typo {
    font-size: 20px;
}

.linkUpdate {
    display: flex;
}

.linkUpdate .outer1 {
    padding: 0px 10px 0px 0px;
}

.linkUpdate .input {

}

.linkUpdate .outer2 {

}

.linkUpdate .helper {
    padding: 10px 0px;
    color: #888;
}

.settingUpdateList .input {
    width: 300px;
}

.settingUpdateList .number {
    display: flex;
}

.settingUpdateList .number .input {
    width: 25px;
}

.settingUpdateList .week {
    display: flex;
}

.settingUpdateList .enter {
    display: flex;
    padding: 10px 158px;
}

.settingUpdateList .warning {
    padding: 10px 20px;
    color: #888;
}

.settingUpdateItem {
    display: flex;
}

.settingUpdateItem .left {
    width: 160px;
    padding: 10px 0px;
}

.settingUpdateItem .right {
    padding: 10px 0px;
}

.block {
    display: list-item !important;
    padding: 30px 5px 10px 5px;
}

.block .mid1 {
    padding: 0px 12px;
    font-size: 22px;
    font-weight: 600;
}

.block .mid2 {
    padding: 10px;
}

.block .inner {
    padding: 10px;
}

.miniBlock {
    padding: 10px 10px;
}

.miniBlock .title {
    padding: 10px 0px;
    font-weight: 600;
}

.miniBlock .line {
    height: 1px;
    margin: 50px 2px 10px 2px;
    border-bottom: solid 1px #DDD;
}

.baseInfoItem {
    display: flex;
    align-items: center;
    padding: 10px 0px
}

.baseInfoItem .outer {
    padding: 3px 5px 0px 0px;
}

.textClip {
    display: flex;
    align-items: center;
}

.textClip .icon {
    top: 0;
    border: initial;
}

.baseInfoBtn {
    padding: 10px 0px;
    display: flex;
}

.baseInfoBtn .sub1 {
    padding: 0px 10px 0px 0px
}

.accountDelete {

}

/* ---------------------------------------- */
