/* ---------------------------------------- */

.baseBody {
    display: flex;
    justify-content: center;
}

.baseBody .inner1 {
    padding: 7vw 0vw 1.5vw 0vw;
}

.baseBody .inner2 {
    padding: 2vw 0vw 7vw 0vw;
}

.baseBody .child {
    padding: 3vw;
}

.baseBody .typoTitle {
    font-size: 7vw;
}

.baseBody .typeSubTitle {
    font-size: 4.5vw;
    white-space: pre;
}

.baseBody .divider {
    width: 80vw;
}

.baseSide .left {
    width: 0;
    height: 0;
}

.baseSide .left .button {
    padding: 3vw;
    left: 5vw;
    font-size: 8vw !important;
}

.baseSide .right {
    height: 0;
    display: flex;
    justify-content: flex-end;
}

.baseSide .right .button {
    padding: 3vw;
    right: 5vw;
    font-size: 8vw !important;
}

.baseNotFound {
    display: flex;
    justify-content: center;
}

.baseNotFound .inner {
    padding: 13vw;
}

.baseNotFound .typo {
    font-size: 5vw;
}

.subHeader .typo {
    font-size: 7vw;
}

.subHeader .pad {
    padding: 3vw;
}

.subPaper {
    padding: 3vw;
}

.subPaper .head {
    padding: 0vw 0vw 3vw 0vw;
    display: flex;
    justify-content: center;
}

.subPaper .title {
    font-size: 6vw;
}

.subPaper .paper {
}

.subPaper .inner {
    padding: 3vw;
}

.enter .pad {
    padding: 3vw 0vw
}

.footer {
    background-color: #FFF;
    width: 100%;
    padding: 4vw 0vw 0vw 0vw;
}

.footer .content {
    border-top: solid 1px #EEE;
    text-align: center;
    font-size: 4vw;
    padding: 2vw;
}

/* ---------------------------------------- */

.calenderBody {
    display: flex;
}

.calenderBody .left {
}

.calenderBody .rowHead {
    height: 11vw;
}

.calenderBody .rowItem {
    height: 11vw;
    padding: 0vw 2vw;
    text-align: right;
    border-right: solid 1px #EEE;
}

.calenderBody .right {
    display: flex;
}

.calenderBody .header {
    width: 100px;
    padding: 6px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #EEE;
}

.calenderBody .header .paper {
    box-shadow: 0px 0px 0px 0px !important;
    border: solid 1px !important;
    border-radius: 3px !important;
    border-color: #BBB !important;
}

.calenderBody .header .inner {
    text-align: center;
    width: 100px;
}

.calenderBody .header .day {
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderBody .header .week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderBody .hours {
    justify-content: center;
}

.calenderBody .hour {
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #EEE;
    width: 110px;
    height: 11vw;
    padding: 0px !important;
    display: flex;
    justify-content: left;
    align-items: top;
}

.calenderBody .hour .nreserved {
    border: solid 2px;
    border-radius: 3px;
    border-color: #666;
    width: 108px;
    height: 10vw;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderBody .hour .nreserved:hover {
    border: solid 3px;
    border-radius: 3px;
    border-color: #55E;
    color: #55E;
    background-color: #EEF;
}

.calenderBody .hour .nreserved:active {
    border: solid 4px;
    border-radius: 3px;
    border-color: #55E;
    color: #FFF;
    background-color: #99F;
}

.calenderBody .item {
    font-size: 4vw;
}

.calenderBody .sunday {
    color: #F66;
}

.calenderBody .saturday {
    color: #66F;
}

.calenderBody .weekday {
}

.calenderClick .left {
    width: 0;
    height: 0;
}

.calenderClick .left .button {
    padding: 3vw 3vw;
    top: -17.5vw;
    left: 6vw;
    font-size: 5vw;
}

.calenderClick .right {
    height: 0;
    display: flex;
    justify-content: flex-end;
}

.calenderClick .right .button {
    padding: 3vw 3vw;
    top: -17.5vw;
    right: 6vw;
    font-size: 5vw;
}

/* ---------------------------------------- */

.confirm {
}

.confirmForm {
    display: flex;
    padding: 3vw;
}

.confirmForm .name {
    width: 20vw;
}

.confirmForm .form {
    display: flex;
}

.confirmForm .input {
    width: 40vw;
    font-size: 4vw;
}

.confirmButton {
    padding: 5vw;
    display: flex;
    justify-content: flex-end;
}

.confirmButton .comp {
    display: flex;
    align-items: center;
}

.confirmButton .message {
    color: #F44;
    padding: 0px 7px;
}

.result {
    padding: 45px;
    display: flex;
    justify-content: center;
}

.result .sub {
}

.resultMore .next {
    padding: 4vw;
    white-space: pre;
}

/* ---------------------------------------- */
