/* ---------------------------------------- */

.baseBody {
    display: flex;
    justify-content: center;
}

.baseBody .inner1 {
    padding: 20px 0px 5px 0px;
}

.baseBody .inner2 {
    padding: 10px 0px 25px 0px;
}

.baseBody .child {
    padding: 20px;
}

.baseBody .typoTitle {
    font-size: 20px;
}

.baseBody .typeSubTitle {
    font-size: 14px;
    white-space: pre;
}

.baseBody .divider {
    width: 800px
}

.baseSide .left {
    width: 0;
    height: 0;
}

.baseSide .left .button {
    padding: 10px 10px;
    top: 40px;
    left: 20;    
}

.baseSide .right {
    height: 0;
    display: flex;
    justify-content: flex-end;
}

.baseSide .right .button {
    padding: 10px 10px;
    top: 40px;
    right: 20;
}

.baseNotFound {
    display: flex;
    justify-content: center;
}

.baseNotFound .inner {
    padding: 50px;
}

.baseNotFound .typo {
}

.subHeader .typo {
    font-size: 20px;
}

.subHeader .pad {
    padding: 10px;
}

.subPaper {
    padding: 10px;
}

.subPaper .head {
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.subPaper .title {
    font-size: 18px;
}

.subPaper .paper {
    width: 330px;
    height: 330px;
}

.subPaper .inner {
    padding: 10px;
}

.enter .pad {
    padding: 10px 0px
}

.footer {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .content {
    border-top: solid 1px #EEE;
    text-align: center;
    font-size: 14px;
    padding: 30px;
}

/* ---------------------------------------- */

.calenderBody {
    display: flex;
}

.calenderBody .left {
}

.calenderBody .rowHead {
    width: 50px;
    height: 55px;
}

.calenderBody .rowItem {
    height: 65px;
    padding: 0px 10px;
    text-align: right;
    border-right: solid 1px #EEE;
}

.calenderBody .right {
    display: flex;
}

.calenderBody .header {
    width: 100px;
    padding: 6px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #EEE;
}

.calenderBody .header .paper {
    box-shadow: 0px 0px 0px 0px !important;
    border: solid 1px !important;
    border-radius: 3px !important;
    border-color: #BBB !important;
}

.calenderBody .header .inner {
    text-align: center;
    width: 100px;
}

.calenderBody .header .day {
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderBody .header .week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderBody .hours {
    justify-content: center;
}

.calenderBody .hour {
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #EEE;
    width: 110px;
    height: 65px;
    padding: 0px !important;
    display: flex;
    justify-content: left;
    align-items: top;
}

.calenderBody .hour .nreserved {
    box-shadow: 1px 1px 5px 1px #CCF;
    background: #AAF;
    width: 108px;
    height: 63px;
}

.calenderBody .hour .nreserved:hover {
    box-shadow: 1px 1px 5px 1px #CCF;
    background: #88F;
    width: 110px;
    height: 65px;
}

.calenderBody .hour .nreserved:active {
    box-shadow: 1px 1px 5px 1px #CCF;
    background: #77F;
    width: 112px;
    height: 67px;
}

.calenderBody .item {
}

.calenderBody .sunday {
    color: #F66;
}

.calenderBody .saturday {
    color: #66F;
}

.calenderBody .weekday {
}

.calenderClick .left {
    width: 0;
    height: 0;
}

.calenderClick .left .button {
    padding: 10px 10px;
    top: -40px;
    left: 0px;
}

.calenderClick .right {
    height: 0;
    display: flex;
    justify-content: flex-end;
}

.calenderClick .right .button {
    padding: 10px 10px;
    top: -40px;
    right: 0px;
}

/* ---------------------------------------- */

.confirm {
    display: flex
}

.confirmForm {
    display: flex;
    align-items: center;
    padding: 10px;
}

.confirmForm .name {
    width: 80px;
}

.confirmForm .form {
    display: flex;
}

.confirmForm .input {
}

.confirmButton {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.confirmButton .comp {
    display: flex;
    align-items: center;
}

.confirmButton .message {
    color: #F44;
    padding: 0px 7px;
}

.result {
    display: flex;
    justify-content: center;
}

.result .sub {
    display: flex;
}

.resultMore .next {
    padding: 12px;
}

/* ---------------------------------------- */
